
    $c-pink: #FF4656;
    $c-dark: #1F2326;
    $c-font-dark: #292C31;
    $c-white: #EFEFEF;
    $c-font-white: #F8F8F8;
    $c-grey: #505155;

    @import url('fonts.css');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat');

    .Druk-Wide
    {
        font-family: 'Druk Wide Bold';
    }

    body
    {
        margin: 0 auto;
        padding: 0;
        background: #1F2326;
        overflow-x: hidden;
        font-family: 'Montserrat';
    }
    
    .pink-big-circle
    {
        background: $c-pink;
        position: absolute;
        display: inline;
        width: 60em;
        height: 60em;
        border-radius: 100%;
        margin: -25em 0 0 -20em;
        z-index: -1;
    }

    .grey-big-circle
    {
        background: $c-font-dark;
        position: absolute;
        display: inline;
        width: 60em;
        height: 60em;
        border-radius: 100%;
        margin: 0em -30em -50em 0em;
        z-index: -1;
        bottom: 0;
        right: 0;
    }

    .header
    {
        z-index: 1;
        display: flex;

        .hr-title
        {
            color: $c-font-white;
            font-size: 22px;
            font-weight: 700;
            margin: 4px 0 0 5px;
        }

        .fa-logo
        {
            width: 40px;
            height: 40px;
        }
    }

    .top-circle-group
    {
        position: absolute;
        display: inline;
        right: 0px;
        margin: 0 25px 0 0;
        z-index: -1;

        .top-pink-circle
        {
            background: $c-pink;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            margin: 0 auto;
        }

        .top-white-circle
        {
            background: $c-white;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            margin-top: 1rem;
        }

        .top-gray-circle
        {
            background: $c-grey;
            width: 70px;
            height: 70px;
            border-radius: 100%;
            margin-top: 0.5rem;
            margin-right: -15px;
            float: right;
        }
    }

    .bottom-circle-group
    {
        position: absolute;
        display: inline;
        left: 10px;
        bottom: -10em;
        margin: 0 25px 0 0;
        z-index: -1;

        .top-white-circle
        {
            background: $c-white;
            width: 200px;
            height: 200px;
            border-radius: 100%;
            margin-top: -0.2rem;
            margin-bottom: -10em;
        }

        .top-gray-circle
        {
            background: $c-grey;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            margin-top: 0.5rem;
            margin-right: -15px;
        }
    }

    .container
    {
        background: url('img/cr-background.png'), no-repeat, $c-pink;
        background-size: cover;
        width: 90%;
        height: 54em;
        border-radius: 10px;
        margin: 0 auto; margin-top: 4em;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        z-index: 1;

        .agents
        {
            float: left;
            position: relative;
            display: inline;
            width: 3.5em;
            top: 3em;
            left: 90px;
        }

        .ults-group
        {
            top: 6em;
            right: 5em;
            position: relative;
            font-family: 'Druk Wide Bold';
            display: flex;

            .ult-item
            {
                position: relative;
                padding: 16px;
                border: 1px solid #000;
                background: #fff;
                width: 500px;
                margin-left: 2em;
                z-index: 3;

                .ut-block
                {
                    position: absolute;
                    display: inline;
                    margin-left: 65%;
                    width: 120px;
                    height: 120px;
                    background: #FF4656;
                    bottom: 0;
                    z-index: 1;
                }

                .ut-img
                {
                    float: right;
                    position: relative;
                    display: inline;
                    width: 110px;
                    height: 110px;
                    z-index: 2;
                }

                .ut-gtitle
                {
                    color: #C4C4C4;
                    font-weight: 500;
                    font-size: 30px;
                    margin-bottom: 0.7rem;
                    z-index: 2;
                }

                .ut-btitle
                {
                    color: #000;
                    font-weight: 500;
                    font-size: 20px;
                    margin-bottom: 0.7rem;
                    z-index: 2;
                }

                .ut-dtext
                {
                    color: #1F2326;
                    font-size: 12px;
                    letter-spacing: 0.1em;
                    z-index: 2;
                }
            }

            .ult-block
            {
                box-sizing: border-box;
                width: 0;
                height: 0;
                padding: 90px;
            }
        }

        .characters
        {
            position: relative;
            display: flex;
            top: 2.5em;
            left: 10em;
            z-index: 1;

            .character
            {
                position: relative;
                margin-right: 2em;

                .skills-group
                {
                    position: absolute;
                    left: 2em;
                    bottom: -0.5em;
                    background: #1F2326;
                    border: 2px solid #fff;
                    display: flex;

                    .sg-img
                    {
                        padding: 10px;
                        width: 40px;
                        height: 40px;
                    }
                }
                
                .ci-wb
                {
                    background: #fff;
                    border: 2px solid #000;
                }

                .character-img
                {
                    width: 85%;
                    background: #1F2326;
                }

                .b
                {
                    width: 82%;
                    margin-right: 3em;
                }

                .w-b
                {
                    width: 77%;
                    background: #F8F8F8;
                    margin-right: 3em;
                }

                .c-texts
                {
                    position: absolute;
                    left: -1em;
                    top: 1em;

                    .c-dtext
                    {
                        position: relative;
                        width: 40px;
                    }

                    .c-rtext
                    {
                        position: absolute;
                        left: 2em;
                        font-family: 'Druk Wide Bold';
                        font-size: 24px;
                        font-weight: 500;
                        color: #FF4656;
                    }
                }
            }
        }

        .container-header
        {
            background: #1F2326;
            border-radius: 10px 10px 0 0;
            height: 2.1rem;
            padding: 0.8rem;
            display: flex;

            .cr-hr-title
            {
                width: 55px;
                margin-right: 1rem;
            }

            .cr-hr-hline
            {
                position: relative;
            }

            .cr-hr-gline
            {
                height: 36px;
                margin-right: 1rem;
            }

            .cr-hr-logo
            {
                width: 38px;
                height: 38px;
                margin-right: 3rem;
            }

            .ch-container
            {
                vertical-align: middle;
                display: flex;
                width: 100%;
                position: relative;
                top: calc(50% - 7px);
                justify-content: start;

                .cr-hr-link
                {
                    color: #fff;
                    margin-right: 50px;
                    font-weight: 600;
                    font-size: 14px;
                    cursor: pointer;
                    vertical-align: middle;
                    display: table-cell;
                    letter-spacing: 0.1em;
                }

                .cr-hr-link:hover
                {
                    transition: 0.4s;

                    .ch-dline
                    {
                        margin-top: 3px;
                        background: #fff;
                        opacity: 1;

                        height: 1px;
                        width: 100%;
                        transition: 0.4s;
                    }
                }

                .ch-dline
                {
                    margin-top: 3px;
                    background: #fff;
                    opacity: 0.7;

                    height: 0px;
                    width: 0%;
                    transition: 0.8s;
                }

                .cr-hr-check
                {
                    display: inline;
                    position: relative;
                    top: -3px;
                    left: 5px;
                }

                .ch-right-check
                {
                    position: relative;
                    top: 5px;
                }

                .ch-right
                {
                    display: flex;
                    justify-content: flex-end;
                    text-align: right;
                    flex-grow: 1;
                }

                .ch-ava
                {
                    position: relative;
                    background: url('img/akali.png') no-repeat;
                    width: 42px;
                    height: 42px;
                    border-radius: 100%;
                    margin-right: 0.5rem;
                    top: -0.5rem;
                }

                .cr-hr-link
                {
                    .ch-n-container
                    {
                        position: relative;
                        top: 1em;
                        left: -40%;
                        width: 150%;
                        text-align: center;
                        padding: 0.4rem;
                        margin-top: 1rem;
                        border: 1px solid #fff;
                        border-radius: 10px;
                        visibility: hidden;
                        opacity: 0;
                        z-index: 2;

                        .ch-n
                        {
                            font-size: 15px;
                            margin-bottom: 0.5rem;
                        }
                    }
                }

                .cr-hr-link:hover
                {
                    .ch-n-container
                    {
                        position: relative;
                        top: 0;
                        left: -40%;
                        width: 150%;
                        text-align: center;
                        padding: 0.4rem;
                        margin-top: 1rem;
                        border: 1px solid #fff;
                        background: #fff;
                        border-radius: 10px;
                        visibility: visible;
                        transition: 0.3s;
                        opacity: 10;
                        z-index: 2;

                        .ch-n
                        {
                            color: #000;
                            font-size: 16px;
                            margin-bottom: 0.5rem;
                            transition: 0.3s;
                        }
                    }
                }

                .cr-hr-link:not(hover)
                {
                    .ch-n-container
                    {
                        position: relative;
                        left: -40%;
                        width: 150%;
                        text-align: center;
                        padding: 0.4rem;
                        margin-top: 1rem;
                        border: 1px solid #fff;
                        background: #fff;
                        border-radius: 10px;
                        visibility: hidden;
                        transition: 0.6s;
                        z-index: 2;

                        .ch-n
                        {
                            color: #000;
                            font-size: 16px;
                            margin-bottom: 0.5rem;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }

        .container-footer
        {
            bottom: -4.5em;
            position: relative;
            height: 3em;
            background: #fff;
            border-radius: 0px 0px 10px 10px;
            z-index: 2;
        }
    }
